.utrymme-sheet {
    padding: 10px;   
    overflow-y: auto;      /* Scroll bar if vertical content is too big for the window */
}

.utrymme-sheet .header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.utrymme-sheet .header h1 input {
    width: 100%;
    height: auto;
    font-size: inherit; /* Pour garder la taille du H1 */
}

.utrymme-sheet .portrait {
    width: 100px;
    height: 100px;
    border: 2px solid #444;
    border-radius: 4px;
    cursor: pointer;      
    object-fit: cover;    /* Évite de déformer l'image */
}

.utrymme-sheet .portrait:hover {
    filter: brightness(1.2); /* Petit effet visuel au survol */
    border-color: #ff6400;   /* Change la couleur de bordure au survol */
}

/* Style de la barre d'onglets */
.utrymme-sheet .sheet-tabs {
    flex: 0;
    display: flex;
    gap: 10px;
    margin: 10px 0;
    border-bottom: 2px solid #444;
}

.utrymme-sheet .sheet-tabs .item {
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

/* Onglet actif */
.utrymme-sheet .sheet-tabs .item.active {
    background: #444;
    color: white;
    border-color: #444;
}

/* Gestion de l'affichage des sections */
.utrymme-sheet .tab:not(.active) {
    display: none;
}


.utrymme-sheet .section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.utrymme-sheet h2 {
    margin-bottom: 10px;
}

.grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.stat-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.stat-block h3 {
    margin: 0 0 8px;
}

.skills h4 {
    margin-top: 10px;
}

.skill-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
}

.skill-name {
    font-weight: bold;
    text-transform: capitalize;
}

.main-blocks {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 15px;
}

.left-block, .right-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

.window-resize-handle {
  inset: auto 0 0 auto;
  z-index: 1;
}
