<section class="{{cssClass}} utrymme-item-sheet" autocomplete="off">

  {{!-- HEADER OPTIMISÉ --}}
  <header class="sheet-header item-header-compact">
    {{!-- Image réduite --}}
    <img class="item-img-small" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    
    <div class="header-content">
        <div class="header-row">
            <h1 class="item-name">
            <input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'objet" />
            </h1>
        </div>
        <div class="item-type-tag">
        Item type : {{item.type}}
        </div>
        
        {{!-- Bloc de détails (Poids et Prix) intégrés --}}
        <div class="header-stats-row">
            <div class="stat-item">
                <label><i class="fas fa-weight-hanging"></i></label>
                <input type="number" name="system.weight" value="{{system.weight}}" step="0.1" placeholder="0.0"/>
            </div>
                
            <div class="price-inline">
                <div class="stat-item">
                <span class="currency-gold">Gold</span>
                    <input type="number" name="system.price.gold" value="{{system.price.gold}}" />
                </div>
                <div class="stat-item">
                    <span class="currency-silver">Silver</span>
                    <input type="number" name="system.price.silver" value="{{system.price.silver}}" />
                </div>
                <div class="stat-item">
                    <span class="currency-copper">Copper</span>
                    <input type="number" name="system.price.copper" value="{{system.price.copper}}" />
                </div>
            </div>
        </div>
    </div>
  </header>

  {{!-- NAVIGATION : Affichée uniquement si ce n'est PAS un miscellaneous --}}
  
  <nav class="sheet-tabs tabs" data-group="primary">
    <a  class="item {{#if (eq tabs 'description')}}active{{/if}}"  data-action="tab" data-group="primary" data-tab="description"> Description </a>
    {{#unless isMisc}}
    <a  class="item {{#if (eq tabs 'details')}}active{{/if}}"  data-action="tab" data-group="primary" data-tab="details"> Détails </a>
    {{/unless}}
  </nav>


  {{!-- Corps de la fiche --}}
  <section class="sheet-body">
    {{!-- Onglet Description --}}

   <div class="tab {{#if (eq tabs 'description')}}active{{/if}}" data-group="primary" data-tab="description">
         {{formInput system.schema.fields.description value=system.description height=500}}
    </div>

    {{!-- Onglet Détails --}}
    <div class="tab {{#if (eq tabs 'details')}}active{{/if}}" data-group="primary" data-tab="details">
        {{#if isWeapon}}
        {{!-- only weapon --}}
        <div class="weapon-details">
            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>Type d'arme</label>
                <select name="system.weaponType">
                    {{selectOptions config.weaponTypes selected=system.weaponType localize=true}}
                </select>
            </div>

            <div class="form-group">
                <label>Versatile :</label>
                <input type="checkbox" name="system.isVersatile" {{checked system.isVersatile}} />
                
                <label style="margin-left: 60px;">À une main :</label>
                <input type="checkbox" name="system.isOneHanded" {{checked system.isOneHanded}} />
            </div>

            {{!-- Attack (1d20 + Stat + Bonus) --}}
            <div class="form-group">
                <label>Attaque</label>
                <div class="form-fields">
                    <span>1d20 + </span>
                    <select name="system.attackStat">
                        {{selectOptions config.stats selected=system.attackStat localize=true}}
                    </select>
                    <span> + </span>
                    {{formInput system.schema.fields.attackBonus value=system.attackBonus placeholder="0"}}
                </div>
            </div>

            {{!-- Damages (Formule + Bonus + Stat) --}}
            {{#if (or system.isOneHanded system.isVersatile)}}
            <div class="form-group">
                <label>Dégâts</label>
                <div class="form-fields">
                    {{formInput system.schema.fields.damage value=system.damage placeholder="1d6"}}
                    <span> + </span>
                    {{formInput system.schema.fields.damageBonus value=system.damageBonus placeholder="0"}}
                    <span class="stat-bonus-preview" title="Bonus de la stat {{system.attackStat}}">
                        ({{statBonusLabel}})
                    </span>
                </div>
            </div>
            {{/if}}

            {{#if (or (not system.isOneHanded) system.isVersatile)}}
            <div class="form-group">
                <label>Dégâts Versatile</label>
                <div class="form-fields">
                    {{formInput system.schema.fields.versatileDamage value=system.versatileDamage placeholder="1d6"}}
                    <span> + </span>
                    {{formInput system.schema.fields.versatileDamageBonus value=system.versatileDamageBonus placeholder="0"}}
                    <span class="stat-bonus-preview" title="Bonus de la stat {{system.attackStat}}">
                        ({{statBonusLabel}})
                    </span>
                </div>
            </div>
            {{/if}}

            <div class="form-group">
                <label>Type de dégâts</label>
                {{formInput system.schema.fields.damageType value=system.damageType placeholder="Type de dégâts"}}
            </div>

            {{!-- Range (Conditionnelle) --}}
            {{#if (eq system.weaponType "ranged")}}
            <div class="form-group">
                <label>Portée (Range)</label>
                <div class="form-fields">
                    {{formInput system.schema.fields.range value=system.range}}
                    <span> mètres</span>
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}

        {{#if isEquipment}}

        {{!-- Only equipement --}}
        <div class="equipment-details">  
            {{!-- Ligne 1 : Sélecteur de type d'équipement --}}
            <div class="form-group">
                <label>Type d'équipement</label>
                <div class="form-fields">
                    <select name="system.equipmentType">
                        {{selectOptions config.equipmentTypes selected=system.equipmentType localize=true}}
                    </select>
                </div>
            </div> 
            
            {{!-- Armour Info --}}

            {{#if (eq system.equipmentType "armour")}}
            <div class="armour-info-block section-sub-box">
                <h3 class="form-header">Détails de l'Armure</h3>

                {{!-- Ligne : Activer Base et Cible (Block/Dodge) --}}
                <div class="form-group">
                    <label>Affecte l'armure de base</label>
                    <div class="form-fields">
                        <input type="checkbox" name="system.armourInfo.hasBaseArmour" {{checked system.armourInfo.hasBaseArmour}} />
                        
                        <select name="system.armourInfo.targetDefense">
                            <option value="block" {{#if (eq system.armourInfo.targetDefense 'block')}}selected{{/if}}>Block</option>
                            <option value="dodge" {{#if (eq system.armourInfo.targetDefense 'dodge')}}selected{{/if}}>Dodge</option>
                        </select>
                    </div>
                </div>

                {{!-- Ligne : Valeur de base et Bonus fixe --}}

                {{#if system.armourInfo.hasBaseArmour}}
                <div class="form-group">
                    <label class="inner-label">Valeur de base de l'armure</label>
                    {{formInput system.schema.fields.armourInfo.fields.armourBaseValue value=system.armourInfo.armourBaseValue placeholder="10"}}
                </div>
                {{/if}}
                
                <div class="form-group">
                    <label class="inner-label">Bonus</label>
                    {{formInput system.schema.fields.armourInfo.fields.armourBonus value=system.armourInfo.armourBonus placeholder="0"}}
                </div>

                {{!-- Ligne : Statistique de scaling --}}
                <div class="form-group">
                    <label>Statistique liée</label>
                    <div class="form-fields">
                        <select name="system.armourInfo.armourStat">
                        {{selectOptions config.stats selected=system.armourInfo.armourStat localize=true}}
                    </select>
                    </div>
                </div>
            </div>
            {{/if}}

            {{!-- Effects --}}

            
        </div>

        {{/if}}
    </div>
    
  </section>
</section>